<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
<connectionStrings>
  <add name="Entities_Visit" connectionString="metadata=res://*/Model_Visit.csdl|res://*/Model_Visit.ssdl|res://*/Model_Visit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=university-project.database.windows.net;initial catalog=Project_Visit;persist security info=True;user id=diehercasvan;password=80859867DhCv;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings></configuration>