
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Visit</title>
    <!--CSS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="~/Content/materialize-v0.97.5/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <style type="text/css">
        .activeItem {
            color: #29b6f6;
        }

        .form_select {
            display: none;
        }
        .cont_search {
            display:none;
        }
        .id_list {
              display:none;
        }
        input{
          text-transform: uppercase;
        }
        #contIdBusiness {
              display:none;
        }
    </style>
</head>
<body onload="nobackbutton()">
    <!--Start Nav bar -->
    <nav class="light-blue lighten-1" role="navigation">
        <!--Start Container nav bar-->
        <div class="nav-wrapper container">
            <a href="#!" class="brand-logo hide-on-large-only">  <i class="material-icons">cloud</i> </a>
            <!--Start Nav Icons-->
            <ul class="right hide-on-med-and-down">
                <li><a title="Home" href="/Home/Home"><i class="material-icons">store</i></a></li>
                <li><a class="modal-trigger waves-effect waves-light" href="#modalInformation"><i class="material-icons">info_outline</i></a></li>
                <li><a href="#" onclick="closeSession()"><i class="material-icons">lock</i></a></li>
            </ul>
            <!--End  Nav Icons-->
            <!--Start Menu Mobile-->
            <ul id="nav-mobile" class="side-nav">
                <li>
                    <ul>
                        <li class="collection-header z-depth-1"><img class="responsive-img" src="~/Img/logoSinapsis.png" /></li><!--Header Image menu mobile-->
                        <li class="row">
                            <!--Start Conten Menu Slide Collapsible-->
                            <ul class="collapsible" data-collapsible="accordion">
                                <!--Start items menu mobile-->
                                <li class="z-depth-1">
                                    <!--Header Info List-->
                                    <div class="collapsible-header activeItem" onclick="selectionMitem(this.id)" id="mItem_0"tittle="Visita"><h6 class="right-align">Visista</h6></div>
                                    <!--Start Body Info List Selection Items-->
                                    <div class="collapsible-body">
                                        <!--Start  Items-->
                                        <div class="collection">
                                            <a href="#!" class="collection-item active per_user_3" onclick="selectionMsubItems(this.id, '0_0', false, true)" id="mSubItem_0_0">Buscar</a>
                                            <a href="#!" class="collection-item per_user_0" onclick="selectionMsubItems(this.id, '0_1', false, true)" id="mSubItem_0_1">Crear</a>
                                            <a href="#!" class="collection-item per_user_1" onclick="selectionMsubItems(this.id, '0_1', true, true)" id="mSubItem_0_2">Modificar</a>
                                            <a href="#!" class="collection-item per_user_2" onclick="selectionMsubItems(this.id, '0_3', false, true)" id="mSubItem_0_3">Eliminar</a>
                                        </div>
                                        <!--End  Items-->
                                    </div>
                                    <!--End Body Info List Selection Items-->
                                </li>
                                <!--End items menu mobile-->
                            </ul>
                            <!--End Conten Menu Collapsible-->
                        </li>
                    </ul>
                </li>
            </ul>
            <!--End Menu Mobile-->
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a><!--Buton menu nav mobile-->
        </div>
        <!--End Container nav bar-->
    </nav>
    <!--End Nav bar-->
    <!-- Start Modal Information -->
    <div id="modalInformation" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
        </div>
    </div>
    <!-- End Modal Information -->
    <!--Start Container-->
    <div class="row">
        <!--Start data -->
        <div id="contIdBusiness"><input type="text" id="iEmp_id" value=1><input type="text" id="bemp_state" value="true"></div>
        <!--End data-->
        <!--Start Menu Side-->
        <div class="col l2 hide-on-small-only hide-on-med-only">
            <ul>
                <li class="collection-header z-depth-2"><img class="responsive-img" src="~/Img/logoSinapsis.png" /></li>
                <li class="row">
                    <!--Start Conten Menu Slide Collapsible-->
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <!--Start Block menu -->
                        <li>
                            <!--Header Info List-->
                            <div class="collapsible-header active activeItem" onclick="selectionItem(this.id)" id="item_0" title="Visita"><i class="material-icons">settings_applications</i>Visita</div>
                            <!--Start Body Info List Selection Items-->
                            <div class="collapsible-body">
                                <!--Start  Items-->
                                <div class="collection">
                                    <a href="#!" class="collection-item active per_user_3" onclick="selectionSubItems(this.id, '0_0', false)" id="subItem_0_0">Buscar</a>
                                    <a href="#!" class="collection-item per_user_1" onclick="selectionSubItems(this.id, '0_1', false)" id="subItem_0_1">Crear </a>
                                    <a href="#!" class="collection-item per_user_2" onclick="selectionSubItems(this.id, '0_1', true)" id="subItem_0_2">Modificar</a>
                                    <a href="#!" class="collection-item per_user_3" onclick="selectionSubItems(this.id, '0_3', false)" id="subItem_0_3">Eliminar </a>
                                </div>
                                <!--End  Items-->
                            </div>
                            <!--End Body Info List Selection Items-->
                        </li>
                        <!--End Block menu -->
                    </ul>
                    <!--End Conten Menu Collapsible-->
                </li>
            </ul>
        </div>
        <!--End Menu Side-->
        <!--Start Container Form -->
        <div class="col s12 m12 l10">
            <h4 id="titleForm">Visitas</h4><!--Dinamic Title-->
            <div class="row">
                <p id="textInfoForm"></p>
            </div>
            <!--Start Container Form 0-->
            <div id="form0_0" class="form_select">
                <!--The onSubmit is responsible for executing the function to validate the text boxes correctly before sending data-->
                <!--Form search-->
                <form class="col s12  m12 l12" onsubmit="searchEmployee(event)">
                    <!-- Start Elements input remember: Elements unique with id of Button and input-->
                    <div class="row">
                        <!--Start Elements -->
                        <div class="input-field col s12 m3 l3">
                            <select>
                                id="listSearchVisit">
                                <option value="" disabled selected>Seleccione una opción</option>
                                <option value="sVis_date">Fecha de Visita</option>
                                <option value="iBra_off_id">Cliente</option>
                                <option value="sVis_atte_name">Nombre Contacto del Cliente</option>
                            </select>
                            <label>Seleccione Búsqueda</label>
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                        <div class="input-field col s10 m7 l7">
                            <input id="vis_search" type="text" class="validate">
                            <label for="vis_search">Digite el dato a buscar</label>
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                        <div class="input-field col s2 m2 l2">
                            <div class="card-action center">
                                <button id="btn_vis_search" class="btn-floating waves-effect waves-light" type="submit" name="action">
                                    <i class="material-icons right">search</i>
                                </button>
                            </div>
                        </div>
                        <!--End Elements -->
                    </div>
                    <!-- End Elements input-->
                </form>
                <!--Start Table result search-->
                <div class="row">
                    <!--Start Table-->
                    <div class="col s12 m12 l12" id="listVisit">
                        <table class="responsive-table highlight">
                            <thead>
                                <tr>
                                    <th data-field="id">Fecha</th>
                                    <th data-field="name_cliente">Nombre del cliente</th>
                                    <th data-field="email">Email contacto</th>
                                    <th data-field="name_contac">Nombre Contacto</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <!--End Table-->
                    </div>
                </div>
                <!--End Table result search-->
            </div>
            <!--End Form 0-->
            <!--Start Container Form 1-->
            <div id="form0_1" class="form_select">
                <!--Start cont search-->
                <div class="row cont_search" id="cont_search_0_1">
                    <!--Form search-->
                    <form class="col s12  m12 l12" id="form_search_0_1" onsubmit="UpdateSearchEmployee(event, '0_1')">
                        <!-- Start Elements inputto remember: Elements unique with id of Button and input-->
                        <div class="row">
                            <!--Start Elements -->
                            <div class="input-field col s12 m3 l3">
                                <select id="listSearchVisitUpdate">
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    <option value="sVis_date">Fecha de Visita</option>
                                    <option value="iBra_off_id">Cliente</option>
                                    <option value="sVis_atte_name">Nombre Contacto del Cliente</option>
                                </select>
                                <label>Seleccine Búsqueda</label>
                            </div>
                            <!--End Elements -->
                            <!--Start Elements -->
                            <div class="input-field col s10 m7 l7">
                                <input id="vis_search_update" type="text" class="validate" required>
                                <label for="vis_search_update">Digite el valor a buscar</label>
                            </div>
                            <!--End Elements -->
                            <!--Start Elements -->
                            <div class="input-field col s2 m2 l2">
                                <div class="card-action center">
                                    <button id="btn_vis_search" class="btn-floating waves-effect waves-light" type="submit" name="action">
                                        <i class="material-icons right">search</i>
                                    </button>
                                </div>
                            </div>
                            <!--End Elements -->
                        </div>
                        <!--End Elements input-->
                    </form>
                    <!--End Elements -->
                </div>
                <!--End cont search-->
                <!--The onSubmit is responsible for executing the function to validate the text boxes correctly before sending data-->
                <form class="col s12  m12 l12" id="formCreateUpdate" onsubmit="validateTextBox(event,this.id)">
                    <!-- Start Elements input remember: Elements unique with id of Button and input-->
                    <div class="row">
                        <!--Start Elements -->
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">today</i>
                            <input id="sVis_date" type="date" class="datepicker" required>
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                        <!--Desplegable de los clientes por vendedor-->
                        <div class="input-field col s12 m6 l4">
                            <select id="iClic_bus_document"></select>
                            <label>Seleccionar ciente</label>
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                        <!--Desplegable de sucursales del Cliente-->
                        <div class="input-field col s12 m6 l4">
                            <select id="iBra_off_id"></select>
                            <label>Seleccionar ciente</label>
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">room</i>
                            <input id="sBra_off_address" type="text" class="validate" required>
                            <label for="sBra_off_address">Dirección de la Visita</label>
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">perm_identity</i>
                            <input id="sVis_atte_name" type="text" class="validate" required>
                            <label for="sVis_atte_name">Nombre del Contacto</label>
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">email</i>
                            <input id="svis_atte_mail" type="tel" class="validate" required>
                            <label for="svis_atte_mail">E-mail Contacto</label>
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">contact_phone</i>
                            <input id="sVis_atte_phone" type="tel" class="validate">
                            <label for="sVis_atte_phone">Telefono del Contacto</label>
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">perm_phone_msg</i>
                            <input id="sVis_atte_celphone" type="tel" class="validate" required>
                            <label for="sVis_atte_celphone">Celular del Contacto</label>
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">grade</i>
                            <input id="sVis_atte_position" type="tel" class="validate">
                            <label for="sVis_atte_position">Cargo del Contacto</label>
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">work</i>
                            <input id="sVis_atte_competition" type="tel" class="validate">
                            <label for="sVis_atte_competition">Competencia en el cliente</label>
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                        <!--Desplegable de Objetos de visita-->
                        <div class="input-field col s12 m6 l4">
                            <select id="sDe_vis_name"></select>
                            <label>Seleccionar Objeto de la visita</label>
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">reorder</i>
                            <input id="sVis_observation" type="tel" class="validate">
                            <label for="sVis_observation">Observaciones de la Visita</label>
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">note_add</i>
                            <input id="sVis_com_" type="tel" class="validate">
                            <label for="sVis_com_">Compromiso con el cliente</label>
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">today</i>
                            <input id="sVis_com_date" type="date" class="datepicker" required>
                        </div>
                        <!--End Elements -->

                        <!--Start Elements -->
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">assignment_late</i>
                            <input id="sVis_proy_name" type="tel" class="validate">
                            <label for="sVis_proy_name">Nombre del proyecto</label>
                        </div>
                        <!--End Elements -->
                   
                    <!--End Elements -->
                    <!-- End Elements input-->
                    <!--Start Elements Button-->
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card-action center">
                                <button id="login" class="btn waves-effect waves-light" type="submit" name="action">
                                    Enviar
                                    <i class="material-icons right">done</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--End Elements Button-->

            </div>
            </form>
        </div>
               <!--End Form 1-->
            <!--Start Container Form 3-->
            <div id="form0_3" class="form_select">
                <!--The onSubmit is responsible for executing the function to validate the text boxes correctly before sending data-->
                <!--Form search-->
                <form class="col s12  m12 l12" onsubmit="searchEmployeeDelete(event)">
                    <!-- Start Elements inputto remember: Elements unique with id of Button and input-->
                    <div class="row">
                        <!--Start Elements -->
                        <div class="input-field col s12 m3 l3">
                            <select id="listSearchVisitUpdate">
                                <option value="" disabled selected>Seleccione una opción</option>
                                <option value="nombre de js">Fecha de Visita</option>
                                <option value="2">Cliente</option>
                                <option value="3">Segmento</option>
                            </select>
                            <label>Seleccine Búsqueda</label>                            
                        </div>
                        <!--End Elements -->
                        <!--Start Elements -->
                            <div class="input-field col s10 m7 l7">
                                <input id="vis_search_delete" type="text" class="validate" required>
                                <label for="vis_search_delete">Digite el valor a buscar</label>
                            </div>
                            <!--End Elements -
                        <!--Start Elements -->
                            <div class="input-field col s2 m2 l2">
                                <div class="card-action center">
                                    <button id="btn_vis_search" class="btn-floating waves-effect waves-light" type="submit" name="action">
                                        <i class="material-icons right">search</i>
                                    </button>
                                </div>
                            </div>
                            <!--End Elements -->

                    </div>
                    <!-- End Elements input-->
                </form>
                <!--Start Table result search-->
                <div class="row">
                    <!--Start Table-->
                    <div class="col s12 m12 l12">
                        <table class="responsive-table highlight">
                            <thead>
                                <tr>
                                    <th data-field="id">Name</th>
                                    <th data-field="name">Item Name</th>
                                    <th data-field="price">Item Price</th>
                                    <th data-field="price">Selection</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Alvin</td>
                                    <td>Eclair</td>
                                    <td>$0.87</td>
                                    <td>
                                        <div class="card-action center">
                                            <button id="btn_emp_search" class="btn-floating waves-effect waves-light red" type="submit" name="action">
                                                <i class="material-icons right">verified_user</i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Alan</td>
                                    <td>Jellybean</td>
                                    <td>$3.76</td>
                                    <td>
                                        <div class="card-action center">
                                            <button id="btn_emp_search" class="btn-floating waves-effect waves-light red" type="submit" name="action">
                                                <i class="material-icons right">verified_user</i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jonathan</td>
                                    <td>Lollipop</td>
                                    <td>$7.00</td>
                                    <td>
                                        <div class="card-action center">
                                            <button id="btn_emp_search" class="btn-floating waves-effect waves-light red" type="submit" name="action">
                                                <i class="material-icons right">verified_user</i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!--End Table-->
                    </div>
                </div>
                <!--End Table result search-->
            </div>
            <!--End Form 3-->
        </div>
        <!--End  Container Form -->
        <!--Start Button floating-->
        <div class="fixed-action-btn hide-on-large-only" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large btn-default">
                <i class="material-icons">menu</i>
            </a>
            <ul>
                <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;" href="/Home/Home"><i class="material-icons">store</i></a></li>
                <li><a class="btn-floating yellow darken-1 modal-trigger waves-effect waves-light" href="#modalInformation" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="material-icons">info_outline</i></a></li>
                <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;" href="#" onclick="closeSession()"><i class="material-icons">lock</i></a></li>
            </ul>
        </div>
        <!--End Button floating-->
    </div>
    <!--End Start Container-->
    <!--Scripts
      Order Script
        1. Jquery
        2. Materializr
        3. Function
        4. Function Local
      -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Content/materialize-v0.97.5/js/materialize.js"></script>
    <script src="~/Scripts/jsProject/Functions.js"></script>
    <script src="~/Scripts/jsProject/CtrVisit.js"></script>

</body>
</html>
